h1 {
  text-align: center;
  color: blue;
  border: 2px dotted green;
}
#container {
  height: 200px;
  width: 200px;
  color: white;
  font-size: 2rem;
  text-align: center;
  background-color: blue;
  margin: 20px;
}
#sdiv {
  margin: 10px;
}
